*,
*:before,
*:after {
    box-sizing: inherit;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    text-align: center;
}
.row {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, a {
    line-height: 120%;
    margin: 0;
    padding: 0;
}
h1, h2 {
    font-family: 'Zen Dots', cursive;
    font-size: 45px;
}
p {
    line-height: 180%;
    font-size: 18px;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
ul {
    text-align: left;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.flex > div {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 20px 0;
}

.sticky {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 0 10px !important;
    background: rgba(0, 0, 0, 0.7) !important;
    z-index: 999;
}
.sticky #hd-phone {
    display: none;
}
#header {
    padding:10px;
    background: #222;
}
#header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hd-logo {
    flex-basis: 250px;
}
#hd-logo img {
    width: 100%;
    max-width: 250px;
}
#hd-menu {
    flex-basis: 800px;
    padding: 0 50px;
    box-sizing: border-box;
}
#header nav a#pull {
    display: none;
}
#header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header nav ul li a {
    font-size: 18px;
    color: #fff;
    position: relative;
    padding-bottom: 10px;
}
#header nav ul li a::after {
    content: "";
    width: 100%;
    height: 5px;
    background: #035B96;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all ease .5s;
    transform: scaleX(0);
}
#header nav ul li.active-menu a::after,
#header nav ul li a:hover::after {
    transform: scaleY(1);
}
#hd-phone {
    position: relative;
    overflow: hidden;
    z-index: 1;
    flex-basis: 250px;
    width: 100%;
    max-width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: linear-gradient(to right, #001A66, #D80000);
}
#hd-phone::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(#00B285, #FF73FF);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all ease .5s;
    transform: scaleX(0);
}
#hd-phone:hover::after {
    transform: scaleY(1);
}
#hd-phone a {
    font-size: 25px;
    font-weight: 700;
    color: #B9B9C8;
}
#hd-phone:hover a {
    color: #333;
}


/*----------------------------------------------- banner -----------------------------------------------------*/
#banner {
    position: relative;
    line-height: 0;
    z-index: 1;
}
#banner .row {
    max-width: 100%;
}
#banner img[alt="banner"] {
    width: 100%;
    height: 432px;
    object-fit: cover;
}
#banner h1 {
    font-size: 50px;
    color: #FFF;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*----------------------------------------------- content -----------------------------------------------------*/
#content > div {
    min-height: 300px;
}



/*----------------------------------------------- Responsive -----------------------------------------------------*/
@media screen and (max-width: 1024px){
	body {min-width: 320px}
}

@media screen and (max-width: 800px){
    #header {
        padding: 0;
    }
    #header .row {
        width: 100%;
    }
    #header nav {
        display:block;
        height: auto;
    }
    #header nav ul {
        width: 100%;
        display: none;
        height: auto;
        border-bottom:5px solid #000;
        padding: 0 15px;
    }
    #header nav ul li {
        width: 100%;
        position: relative;
    }
    #header nav ul li a {
        display: block;
        float:none;
        padding: 10px 0;
    }
    #header nav a {
        text-align: left;
        width: 100%;
    }
    #header nav a strong {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
    }
    #header nav a#pull {
        display: block;
        color: #fff;
        background-color: #000;
        height: 30px;
        padding: 10px 0;
        width: 100%;
        position: relative;
    }
    #header nav a#pull:after {
        content:"";
        background: url('../images/nav-icon.png') no-repeat;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
        
    .cta{
        background: #035B96  url("../images/common/phonecall.png") no-repeat center center;
        border-bottom-left-radius: 40px;
        border-top: 2px solid #013f9a ;
        border-top-left-radius: 40px;
        bottom: 1%;
        display: block;
        height: 80px;
        position: fixed;
        right: 0;
        text-decoration: none;
        text-indent: -9999em;
        width: 100px;
        z-index: 999;
    }
}
